PORT=3000
PROJECT_ROOT=<project-path (complete file system path)>
LLM_PROVIDER=<ollama | openai | openrouter | or create your own provider and add here>

# OLLAMA Options
OLLAMA_HOST=http://127.0.0.1:11434
OLLAMA_CODING_MODEL=<your-local-coding-llm like: deepseek-coder-v2:latest>
OLLAMA_FORMATTING_MODEL=<your-local-formatting-llm like: gemma4:latest>

# OpenRouter options
OPENROUTER_API_KEY=<your api key>
OPENROUTER_CODING_MODEL=openrouter/free
OPENROUTER_BASEURL=https://openrouter.ai/api/v1

# OpenAI options
OPENAI_API_KEY=wertyu
OPENAI_CODING_MODEL=qwertyui